* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	color: #fff;
	background-color: #c29a94;
	font-family: "Flama Basic";
	overflow-x: hidden;
}
/* ::-webkit-scrollbar {
	display: none;
} */
.mouse-circle {
	z-index: 1;
	pointer-events: none;
	width: 3vh;
	height: 3vh;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #e0c7c3d5;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#main {
	position: relative;
	height: 100vh;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;
	padding-right: 80px;
	padding-left: 120px;
}
.logo {
	font-family: "Flama Bold";
	cursor: pointer;
}
.navbar ul {
	cursor: pointer;
	display: flex;
	list-style: none;
	align-items: center;
	gap: 45px;
	font-weight: 100;
	margin-left: -100px;
	font-size: 20px;
	font-family: "Flama Light";

	/* background-color: aqua; */
}
.menu {
	font-size: 20px;
	cursor: pointer;
	/* position: fixed; */
}
.landing-page {
	display: flex;
	align-items: center;
	/* justify-content: center; */
}
.left {
	position: relative;
	padding-left: 14rem;
	width: 50vw;
}
.left h1 {
	font-family: "Flama Bold";
	font-size: 3.7rem;
	line-height: 1.3;
	font-weight: 600;
	width: 32vw;
	/* background-color: #000; */
	margin-bottom: 2rem;
}
.left p {
	width: 22vw;
	/* background-color: #000; */
	font-weight: 200;
	font-family: "Flama Light";
	font-size: 1.2rem;
	margin-bottom: 3rem;
}
.btn {
	font-family: "Flama Bold";
	font-size: 1rem;
	font-weight: 900;
	color: #fff;
	background-color: transparent;
	outline: none;
	border: none;
	display: flex;
	gap: 20px;
	transition: all ease 0.3s;
}
.left button span i {
	font-family: "Flama Light";
	font-weight: 100;
	/* padding-left: 0.5rem; */
	font-size: 1.2rem;
}
.left button:hover {
	gap: 40px;
}
.right {
	position: relative;
	/* border-left: 2px solid #000; */
	width: 50vw;
}
.main-circle-video {
	margin-left: 2.5rem;
}
.main-circle-video video {
	height: 29rem;
	width: 29rem;
	border-radius: 50%;
	padding-top: 3rem;
}
.sm-circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #e0c7c3;
	position: absolute;
	right: 4vw;
	top: 7vw;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 60px -20px rgba(184, 184, 184, 0.72),
		-14px -15px 40px -10px rgba(255, 238, 191, 0.23);
	animation: mymove 5s;
	animation-iteration-count: infinite;
}
@keyframes mymove {
	0% {
		top: 7vw;
	}
	50% {
		top: 8vw;
	}
	100% {
		top: 7vw;
	}
}

.mask {
	width: 100%;
	height: 100%;
	position: absolute;
	box-shadow: inset -10px -10px 40px #251303,
		inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
	border-radius: 50%;
}
.med-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #b28885;
	position: absolute;
	right: -1vw;
	top: 36vw;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 60px -20px rgba(184, 184, 184, 0.72),
		-14px -15px 40px -10px rgba(255, 238, 191, 0.23);
	animation: mymove-med-circle 5s;
	animation-iteration-count: infinite;
}
@keyframes mymove-med-circle {
	0% {
		top: 36vw;
	}
	50% {
		top: 35vw;
	}
	100% {
		top: 36vw;
	}
}
.big-circle {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: #e9a272;
	position: absolute;
	right: 0;
	top: 38vw;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 60px -20px rgba(184, 184, 184, 0.72),
		-14px -15px 40px -10px rgba(255, 238, 191, 0.23);
	animation: mymove-bg-circle 3s;
	animation-iteration-count: infinite;
}
@keyframes mymove-bg-circle {
	0% {
		top: 36vw;
	}
	50% {
		top: 35vw;
	}
	100% {
		top: 36vw;
	}
}
.about {
	width: 100vw;
	height: 100vh;
	/* background-color: #140017; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 15rem;
	gap: 3rem;
	text-align: center;
}

.about h3 {
	font-family: "Flama Bold";
	font-size: 1.3rem;
	color: #ffffffb9;
	/* margin-top: rem; */
}
.about h1 {
	font-family: "Flama Bold";
	font-weight: 900;
	font-size: 4rem;
	/* background-color: #000; */
	width: 80%;
}
.about button {
	/* background-color: #251303; */
	margin-bottom: 5rem;
}

.about img {
	height: 50px;
	width: 120px;
	margin-right: 2rem;
	/* color: #fff; */
}

.invert {
	color: white;
	filter: invert(100%);
}

/* .ribbon-section {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background-color: teal;
} */
